name: Docker Image CI

on:
  workflow_dispatch:

jobs:

  build:

    runs-on: ubuntu-20.04

    steps: 
      - name: Docker Login
        uses: docker/login-action@v2.0.0
        with:
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
      
      - name: Docker Setup Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2.0.0

      - name: Clone 
        run: |
          git clone https://github.com/easychen/checkchan-dist.git
          sed -i 's/FROM/FROM --platform=$TARGETPLATFORM/g' checkchan-dist/docker/Dockerfile

      - name: Build and push Docker images
        uses: docker/build-push-action@v3.0.0
        with:
          context: ./checkchan-dist/docker/
          platforms: linux/amd64,linux/arm64
          push: true
          tags: enticeu/checkchan:$(date +%F%n%T)
          
          
