name: Docker Image CI

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-20.04
    steps: 
      - name: Docker Login
        uses: docker/login-action@v2.0.0
        with:
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}

      - name: Docker Setup QEMU
        uses: docker/setup-qemu-action@v2.0.0
      - name: Docker Setup Buildx
        uses: docker/setup-buildx-action@v2.0.0

      - name: Clone 
        run: |
          git clone https://github.com/easychen/checkchan-dist.git
          cd checkchan-dist/docker
          sed -i 's/FROM/FROM --platform=$TARGETPLATFORM/g' Dockerfile
          sed -i 's/zenika/enticeu/g' Dockerfile

      - name: Build and push Docker images
        uses: docker/build-push-action@v3.0.0
        with:
          context: ./checkchan-dist/docker/
          platforms: linux/amd64,linux/arm64
          push: true
          #tags: enticeu/checkchan:$(date +%F%n%T)
          tags: enticeu/checkchan:test
          
          
