name: Build checkchan

on:
  push
  
jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
    - name: Docker Login
      uses: docker/login-action@v2.0.0
      with:
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.PASSWORD }}
        
    - name: Docker buildx
      run: |
        docker run --privileged --rm tonistiigi/binfmt --install all
        docker buildx create --use --name mybuild
        docker buildx inspect mybuild --bootstrap
        
    - name: Clone 
      run: |
        git clone https://github.com/easychen/checkchan-dist.git
        sed -i 's/FROM/FROM --platform=$TARGETPLATFORM/g' checkchan-dist/docker/Dockerfile
        
    - name: Build && Push
      run: |
        cd checkchan-dist/docker
        docker buildx build -t enticeu/checkchan:test --platform=linux/arm64,linux/amd64 --push .
          
          
